<slot>
    <div class="container">
        <div id="pie-chart"></div>
        <div id="info-box" class="row info-box">
            <div class="col  nopadding">
                <div>
                    <b id="i1t">Tablet</b>
                </div>
                <div>
                    <label id="i1p" class="t-dark-gray m-right">60%</label>
                    <label id="i1v" class="t-light-gray m-left">120000€</label>
                </div>
            </div>
            <div class="col text-right nopadding">
                <div>
                    <b id="i2t">SmartPhone</b>
                </div>
                <div>
                    <label id="i2p" class="t-dark-gray m-right">40%</label>
                    <label id="i2v" class="t-light-gray m-left">80000€</label>
                </div>
            </div>
        </div>
    </div>
</slot>
<style>
    @import "../../node_modules/bootstrap-css-only/css/bootstrap.min.css";
    @import "./src/components/graph/graph.css";
</style>