{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      },
      "es2015"
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
